@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  /* Primary */
  --error: hsl(0, 100%, 66%);
  /* Neutral */
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.hide {
  display: none;
}

.err {
  font-size: 13px;
  color: var(--error);
  text-transform: none;
  margin-top: 5px;
}

.container {
  display: flex;
  height: 100vh;
}

.card {
  background-image: url(images/bg-main-desktop.png);
  width: 432px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front {
  position: relative;
  background-image: url(images/bg-card-front.png);
  width: 445px;
  transform: translateX(25%);
  padding: 1.5rem 1.8rem;
  margin-bottom: 1rem;
}

.front img {
  margin-bottom: 4rem;
}

.front h1 {
  color: white;
}

.front .name-exp {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  font-size: 13px;
  color: white;
  letter-spacing: 1.5px;
}

.back {
  position: relative;
  background-image: url(images/bg-card-back.png);
  width: 447px;
  height: 245px;
  transform: translateX(50%);
  margin-top: 1rem;
}

.back p {
  position: relative;
  transform: translate(360px, 109px);
  color: white;
  width: fit-content;
}

.card-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 10%;
  margin-left: 400px;
  font-size: 15px;
  color: var(--very-dark-violet);
}

form {
  max-width: 400px;
}

form div {
  margin-bottom: 1.5rem;
  max-width: 400px;
}

form input:focus {
  outline-color: var(--very-dark-violet);
}

form input {
  text-indent: 10px;
  font-size: 18px;
}

#name,
#number {
  height: 2.5rem;
  width: 100%;
  border: solid 1px var(--light-grayish-violet);
  border-radius: 8px;
  margin-top: 5px;
}

#month,
#year {
  height: 2.5rem;
  width: 40%;
  border: solid 1px var(--light-grayish-violet);
  border-radius: 8px;
  margin-top: 5px;
}

#month {
  margin-right: 5px;
}

#name::placeholder,
#number::placeholder,
#cvc::placeholder {
  text-transform: none;
}

#cvc {
  height: 2.5rem;
  border: solid 1px var(--light-grayish-violet);
  border-radius: 8px;
  margin-top: 5px;
}

.card-form button {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: var(--very-dark-violet);
  text-transform: none;
  color: white;
  border-radius: 8px;
}

.exp-cvc {
  display: flex;
}

.thanks {
  text-align: center;
  max-width: 400px;
}

.thanks img {
  margin-bottom: 2rem;
}

.thanks h2 {
  letter-spacing: 3.5px;
  margin-bottom: 1rem;
}

.thanks p {
  text-transform: none;
  color: var(--dark-grayish-violet);
  margin-bottom: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
